@using System.Globalization;
@model Condusef_DLL.Funciones.Condusef.Empresa;
@{
    ViewBag.Title = "Recuperar contraseña";
    ViewBag.TituloCard = "";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var cultura = new CultureInfo(@ViewData["Lang"].ToString() ?? "es");
    var rm = new System.Resources.ResourceManager(typeof(IdiomaCondusef_DLL.Registro.Registro));
    var rs = rm.GetResourceSet(cultura, true, true);
}

<div class="container-fluid my-3 px-5">
    <div class="card my-3">
        <div class="card-header center-content">
            <h5 class="header">¿Olvidó su contraseña?</h5>
        </div>
        <div class="card-body p-4">
            <div class="flex-row row">
                <div class="col-12">
                    @Html.Label("", string.Format("{0}", "Ingrese su usuario"), htmlAttributes: new { @class = "control-label mb-2" })
                    <div class="col nopadding">
                        <div class="input-group">
                            <input type="text" id="usuario" class="form-control" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-danger w-100 btn-block mx-2">
                    Regresar al login
                </a>
                <button id="btn_enviarSolicitud" class="btn btn-login btn-block mx-2 w-100">Cambiar contraseña</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var urlSolicitarCambio = '@Url.Action("Solicitar_Cambio_Password", "Home", new { area = "" })';
        var textoScript = {
            primero: `@Html.Raw(rs.GetString("TPrimero"))`,
            anterior: `@Html.Raw(rs.GetString("TAnterior"))`,
            siguiente: `@Html.Raw(rs.GetString("TSiguiente"))`,
            ultimo: `@Html.Raw(rs.GetString("TUltimo"))`,
            inicio: `@Html.Raw(rs.GetString("TInicio"))`,
            mostrar: `@Html.Raw(rs.GetString("Mostrar"))`,
            buscar: `@Html.Raw(rs.GetString("Buscar"))`,
            buscando: `@Html.Raw(rs.GetString("Buscando"))`,
            cargandoRegistros: `@Html.Raw(rs.GetString("CargandoRegistros"))`,
            sinDatos: `@Html.Raw(rs.GetString("TSinDatos"))`,
            noseencontraron: `@Html.Raw(rs.GetString("NoSeEncontraron"))`,


            ErrorGenerico: `@Html.Raw(rs.GetString("ErrorGenerico"))`,
        }
    </script>

    <script src="~/js/Generales/fntGenericas.js"></script>
    <script src="~/js/Home/forgotPassword.js"></script>
}
