@{
	ViewData["Title"] = "Access Denied";
	Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>403</h1>
        </div>
        <h2>Access to this page is restricted!</h2>
        <p>Please check with the site admin if you believe this is a mistake</p>
        <a href="/">Back To Homepage</a>
    </div>
</div>