@{
	ViewData["Title"] = "Error";
	Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>500</h1>
		</div>
		<h2>We are sorry, something happened!</h2>
		<p>It appears something happened with your request. Try it again</p>
		<a href="/">Back To Homepage</a>
	</div>
</div>

